<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YakYakYak">

        <!-- 메인 액티비티 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 약 등록/수정 액티비티 -->
        <activity
            android:name=".ui.medication.AddEditMedicationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.MainActivity" />

    </application>

</manifest>
